<section id="client" class="content-section text-center">
    <div class="row">
        <div class="container">
            <h3>Client API Specification</h3>
            <p class="">This section describes the client API functions.
            </p>
        </div>
    </div>
</section>
<section id="server" class="content-section text-center">
    <div class="row">
        <div class="container">
            <h3>Server API Specification</h3>
            <p class="">This section describes the server API functions.
            </p>
        </div>
    </div>
</section>