<section id="develop" class="content-section text-center">
    <div class="row develop-section">
        <div class="container">
            <div class="col-lg-2 col-lg-offset-1">
                <img alt="img" class="img-circle center-block drop-shadow" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/zot.png" style="width: 200px; height: 200px;"> 
            </div>

            <div class="col-lg-8 col-lg-offset-1">
                <h2>Developers</h2>
                <p>There is a lot of work to do, and that work needs developers. Be a part of something amazing. There are many ways you can contribute.</p>
                <ul class="list-inline banner-social-buttons">
                    <li>
                        <a href="https://grid.reticu.li/channel/hubzilla" class="btn btn-default btn-lg"><img src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/hubzilla_logo_white_bkgd.png" width="25">&nbsp<span class="network-name"> On the grid</span></a>
                    </li>
                    <li>
                        <a href="https://grid.reticu.li/irc" class="btn btn-default btn-lg"><span class="network-name"><span class="irc-icon">#</span>hubzilla</span></a>
                    </li>
                    <li>
                        <a href="https://github.com/redmatrix/hubzilla" class="btn btn-default btn-lg"><i class="fa fa-github"></i>&nbsp&nbsp<span class="network-name">Source Code</span></a>
                    </li>
                </ul>
            </div>

        </div>
    </div>
</section>