<div class="intro-body">
    <div class="container">
        <div class="row">
            <div>
                <img class="img-responsive hubzillabanner" src="https://grid.reticu.li/cloud/hubzilla/hubzilla-project-website/img/newhubzillabanner.png"/>
            </div></div>
        <div class="row">
            <div> 
                <p class="intro-text">Build a community of connected websites</p>
                <p class="lead">Hubzilla is a powerful platform for creating interconnected websites 
                    featuring a decentralized identity, communications, and permissions 
                    framework built using common webserver technology.</p>
            </div>
        </div>
        <div class="row"  style="padding-top: 50px;">
            <div >
                <div class="col-lg-1 col-md-1 col-sm-3 col-lg-offset-4 col-md-offset-3 col-sm-offset-2"><a class="btn btn-default btn-lg" href="https://hubzilla.site/register">Try a demo</a></div> 
                <div class="col-lg-1 col-md-1 col-sm-1 col-lg-offset-1 col-md-offset-2 col-sm-offset-2"><a class="btn btn-default btn-lg" href="http://github.com/redmatrix/hubzilla/">Run your own hub</a></div>
                <div class="col-lg-12 col-md-12 col-sm-12" style="padding-top: 50px;">
                    <a href="#learn" class="btn btn-circle page-scroll">
                        <i class="fa fa-angle-double-down animated"></i>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>